.myModal {
  animation-name: example;
  animation-duration: 2s;
}
.btn {
  font-family: "Armata", sans-serif;
  margin-left: 7rem;
  margin-top: 2rem;
}

@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: 237px;
  }
}
